*.iml
*.jks
.gradle
/local.properties
# User-specific stuff:
.idea/*
.kotlin/

!.idea/codeStyles/

# Gradle:
/projectFilesBackup*/
.DS_Store
/build
/captures
.externalNativeBuild
androidx_prebuilts/
out/

/buildSrc/local.properties
.fleet/